window#waybar {
  background: rgba(0, 0, 0, 0);
  opacity: 0.8;
}

* {
  font-size: 14px;
  color: #fff;
}

#clock,
#cpu,
#pulseaudio,
#memory,
#network,
#custom-vpn,
#custom-dunst,
#temperature,
#disk,
#custom-playing,
#custom-menu,
#custom-power,
#custom-vesktop,
#custom-spotify,
#custom-steam,
#custom-thunderbird {
  background: #192020;
  color: #fff;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 8px;
}

#clock:hover,
#cpu:hover,
#pulseaudio:hover,
#memory:hover,
#network:hover,
#custom-vpn:hover,
#custom-dunst:hover,
#temperature:hover,
#disk:hover,
#custom-menu:hover,
#custom-vesktop:hover,
#custom-playing:hover,
#custom-power:hover,
#custom-spotify:hover,
#custom-steam:hover,
#custom-thunderbird:hover {
  color: #8cb8d1;
}


#custom-dunst {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

#custom-weather {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background: #364444;
  color: #fff;
  margin-top: 10px;
  margin-bottom: 5px;
}


#custom-power,
#clock,
#custom-thunderbird {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

#custom-thunderbird {
  margin-right: 5px;
}

#custom-menu,
#custom-vesktop {
  margin-left: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding-right: 4px;
}

#workspaces * {
  font-size: 18px;
  color: #fff;
  padding-top: 3px;
}

#workspaces {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  color: #c5c8c6;
}

#workspaces button {
  opacity: 0.5;
}

#workspaces button.active {
  opacity: 1;
}