
* {
  background-color: transparent;
  color: #fff;
}

#clock, #cpu, #pulseaudio, #memory, #temperature, #disk, #custom-playing {
  margin-right: 6px;
}

window#waybar.Chromium {
  background-color: #5d615e;
}


